:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100vh;
}
body {
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  scroll-behavior: smooth;
}
.aic { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.b0 { border: 0; }
.bcc { border-collapse: collapse; }
.bce2e8f0 { background-color: #e2e8f0; }
.bge4eaee { background-color: #e4eaee; }
.bgf9 { background-color: #F9F9F9; }
.bgfff { background-color: #fff; }
.bi-corn { background-image: url("../images/glenn-carstens-peters-IMRuLuNnFw4-unsplash-800w.jpg"); /* Photo by Glenn Carstens-Peters | https://unsplash.com/photos/IMRuLuNnFw4 */ }
.bi-cotton { background-image: url("../images/trisha-downing-pyud8ZaVq4I-unsplash-800w.jpg"); /* Photo by Trisha Downing | https://unsplash.com/photos/pyud8ZaVq4I */ }
.bpc { background-position: center; }
.br3 { border-radius: 0.3rem; }
.brnr { background-repeat: no-repeat; }
.bsc { background-size: cover; }
.bse0e0dc { border: solid #e0e0dc; }
.bsu { box-shadow: 0 0.1rem 0 0 currentColor; }
.bw0110 { border-width: 0 1px 1px 0; }
.bw1001 { border-width: 1px 0 0 1px; }
.c585eda { color: #585eda; }
.ch1E248A:hover { color: #1E248A; }
.cp { color: #1A1B1D; }
.cw { color: #FFF; }
.db { display: block; }
.df { display: -webkit-box; display: -ms-flexbox; display: flex; }
.dib { display: inline-block; }
.ffs { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
.ffss { font-family: Tahoma, Arial, sans-serif; }
.fi { font: inherit; }
.fs { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fs18 { font-size: 1.8rem; }
.fs32 { font-size: 3.2rem; }
.fs40 { font-size: 4.0rem; }
.fwn { font-weight: normal; }
.h100p { height: 100%; }
.jcsb { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.lh11 { line-height: 1.1; }
.lh125 { line-height: 1.25; }
.lh17 { line-height: 1.7; }
.lsn { list-style: none; }
.m0 { margin: 0; }
.ma { margin: auto; }
.ml2 { margin-left: 2rem; }
.mla { margin-left: auto; }
.mla { margin-left: auto; }
.mr2 { margin-right: 2rem; }
.mra { margin-right: auto; }
.mra { margin-right: auto; }
.mw100p { max-width: 100%; }
.mw18 { max-width: 18rem; }
.mw200 { max-width: 20rem; }
.mw800 { max-width: 80rem; }
.p0 { padding: 0; }
.p6x8 { padding: 0.6rem 0.8rem; }
.pb1 { padding-bottom: 1rem; }
.pb15 { padding-bottom: 1.5rem; }
.pb4 { padding-bottom: 4rem; }
.pl2 { padding-left: 2rem; }
.pl3 { padding-left: 3rem; }
.pl4 { padding-left: 4rem; }
.pr2 { padding-right: 2rem; }
.pr3 { padding-right: 3rem; }
.pr4 { padding-right: 4rem; }
.pt1 { padding-top: 1rem; }
.pt15 { padding-top: 1.5rem; }
.pt4 { padding-top: 4rem; }
.tac { text-align: center; }
.tal { text-align: left; }
.tar { text-align: right; }
.tdn { text-decoration: none; }
.vam { vertical-align: middle; }
.vat { vertical-align: top; }
.wa { width: auto; }
.w100p { width: 100%; }

@media (min-width: 500px) {
  .m500-pb8 { padding-bottom: 8rem; }
  .m500-pt8 { padding-top: 8rem; }
  .m500-fs35 { font-size: 3.5rem; }
  .m500-ml4 { margin-left: 4rem; }
  .m500-mln2 { margin-left: -2rem; }
  .m500-mr4 { margin-right: 4rem; }
  .m500-pl2 { padding-left: 2rem; }
  .m500-pl3 { padding-left: 3rem; }
  .m500-pr2 { padding-right: 2rem; }
  .m500-pr3 { padding-right: 3rem; }
  .m500-tal { text-align: left; }
  .m500-wa { width: auto; }
}

@media (min-width: 600px) {
  .bi-corn { background-image: url("../images/glenn-carstens-peters-IMRuLuNnFw4-unsplash-1600w.jpg"); /* Photo by Glenn Carstens-Peters | https://unsplash.com/photos/IMRuLuNnFw4 */ }
  .bi-cotton { background-image: url("../images/trisha-downing-pyud8ZaVq4I-unsplash-1600w.jpg"); /* Photo by Trisha Downing | https://unsplash.com/photos/pyud8ZaVq4I */ }
}

@media (min-width: 880px) {
  .m880-pb11 { padding-bottom: 11rem; }
  .m880-pt11 { padding-top: 11rem; }
  .m880-fs4 { font-size: 4rem; }
  .m880-mla { margin-left: auto; }
  .m880-mln3 { margin-left: -3rem; }
  .m880-mra { margin-right: auto; }
  .m880-pl3 { padding-left: 3rem; }
  .m880-pl4 { padding-left: 4rem; }
  .m880-pr3 { padding-right: 3rem; }
  .m880-pr4 { padding-right: 4rem; }
}

@media (min-width: 1200px) {
  .bi-corn { background-image: url("../images/glenn-carstens-peters-IMRuLuNnFw4-unsplash-2500w.jpg"); /* Photo by Glenn Carstens-Peters | https://unsplash.com/photos/IMRuLuNnFw4 */ }
  .bi-cotton { background-image: url("../images/trisha-downing-pyud8ZaVq4I-unsplash-2500w.jpg"); /* Photo by Trisha Downing | https://unsplash.com/photos/pyud8ZaVq4I */ }
}
